files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 25M;

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
  02_change_permissions:
    command: "sudo chown -R nginx:nginx /var/lib/nginx/body/ && sudo chmod -R 755 /var/lib/nginx/body/"
